In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# view the top 5 records to make sure it loaded correctly
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
#Player CountÂ¶

In [9]:
#Display the total number of players

player = len(purchase_data['SN'].value_counts())
player_ct=pd.DataFrame([player], columns = ["Total Players"])
player_ct

   Total Players
0            576

In [15]:
#Identify number of unique items
Unique_items = len(purchase_data["Item Name"].unique())

#averge Purchase Price
Avg_price = purchase_data["Price"].mean()

#Calculating the Total Number of Purchases

Number_purchases = len(purchase_data["Item Name"])

#Calculate Total Revenue
Revenue = purchase_data["Price"].sum()

# Create Purchase Analysis DataFrame
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items": [Unique_items],
                                           "Average Price": [Avg_price],
                                           "Number of Purchases": [Number_purchases],
                                           "Total Revenue": [Revenue]})

# Formatting the Puchase_Analysis DataFrame
Purchasing_Analysis["Average Price"] = Purchasing_Analysis["Average Price"].map("${:.2f}".format)
Purchasing_Analysis["Total Revenue"] = Purchasing_Analysis["Total Revenue"].map("${:.2f}".format)
Purchasing_Analysis = Purchasing_Analysis[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [ ]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

In [49]:
#Create gender groups and remove duplicates

gender = purchase_data[['SN', 'Gender']]

gender = gender.drop_duplicates()

gender_counts = gender['Gender'].value_counts()
gender_pct = gender['Gender'].value_counts(normalize=True).mul(100).round(1).astype(str) + "%"

# Create DataFrame
gender_df=pd.DataFrame({'Count of Players': gender_counts, "Percent of Players": gender_pct})
gender_df

                       Count of Players Percent of Players
Male                                484              84.0%
Female                               81              14.1%
Other / Non-Disclosed                11               1.9%

In [ ]:
#Create gender groups and remove duplicates

gender = purchase_data[['SN', 'Gender']]

gender = gender.drop_duplicates()

gender_counts = gender['Gender'].value_counts()
gender_pct = gender['Gender'].value_counts(normalize=True).mul(100).round(1).astype(str) + "%"

# Create DataFrame
gender_df=pd.DataFrame({'Count of Players': gender_counts, "Percent of Players": gender_pct})
gender_df

In [ ]:
percent100 = s.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
pd.DataFrame({'counts': counts, 'per': percent, 'per100': percent100})

In [ ]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

In [61]:
# Create Gender grouping and removing duplicates
gender = duplicates.groupby(['Gender'])

#Create Variables for data analysis

purchase_count = gender['SN'].count()

Avg_Purchase_Price = gender['Price'].mean()

Total_Purchase_Value = gender['Price'].sum()

# Delete all duplicates from data
duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_gender = duplicates.groupby(["Gender"])

# Find normalized data
avg_pp = (gender["Price"].sum() / grouped_gender["SN"].count())

#Create DataFrame

# Create new DataFrame
Gender_Purchase = pd.DataFrame({"Purchase Count": [purchase_count],                                
                              "Average Purchase Price": [Avg_Purchase_Price],
                              "Total Purchase Value": [Total_Purchase_Value],
                              "Average_Price_Per_Person": [avg_pp]})

Gender_Purchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Average_Price_Per_Person
0,Gender Female 81 Male ...,Gender Female 3.165802 Male ...,Gender Female 256.43 Male ...,Gender Female 3.165802 Male ...

In [62]:
# Group by Gender
gender = purchase_data.groupby(["Gender"])

# Data Manipulation
purch_Count = gender["SN"].count()

purch_Price = gender["Price"].mean()

purch_Value = gender["Price"].sum()

# Normalize data by deleting all duplicates adn resort
duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])

# Find normalized data
purch_Norm = (gender["Price"].sum() / grouped_dup["SN"].count())

# Create new DataFrame
Purch_Anal_Gen = pd.DataFrame({"Purchase Count": purch_Count,
                              "Average Purchase Price": purch_Price,
                              "Total Purchase Value": purch_Value,
                              "Normalized Totals": purch_Norm})
# DataFrame formatting
Purch_Anal_Gen["Average Purchase Price"] = Purch_Anal_Gen["Average Purchase Price"].map("${:.2f}".format)
Purch_Anal_Gen["Total Purchase Value"] = Purch_Anal_Gen["Total Purchase Value"].map("${:.2f}".format)
Purch_Anal_Gen["Normalized Totals"] = Purch_Anal_Gen["Normalized Totals"].map("${:.2f}".format)
Purch_Anal_Gen = Purch_Anal_Gen[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
Purch_Anal_Gen

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [65]:
# Create Gender Group
gender = purchase_data.groupby(["Gender"])

# Data for Table
purchase_count = gender["SN"].count()

purchase_price = gender["Price"].mean()

purchase_value = gender["Price"].sum()

# Remove all duplicates
duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
new_gender = duplicates.groupby(["Gender"])

# Find normalized data
purchase_average = (gender["Price"].sum() / new_gender["SN"].count())

# Create new DataFrame
gender_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": purchase_price,
                              "Total Purchase Value": purchase_value,
                              "Average Purchase Total by Person": purchase_average})
# DataFrame formatting
gender_analysis["Average Purchase Price"] = gender_analysis["Average Purchase Price"].map("${:.2f}".format)
gender_analysis["Total Purchase Value"] = gender_analysis["Total Purchase Value"].map("${:.2f}".format)
gender_analysis["Average Purchase Total by Person"] = gender_analysis["Average Purchase Total by Person"].map("${:.2f}".format)
gender_analysis = gender_analysis[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total by Person"]]
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total by Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [66]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#database for age Demo
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)
demographic_group =purchase_data.groupby("Age Demographics")

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [73]:
# Create Age bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

#Create age groups and remove duplicates

age_group =purchase_data[['SN', 'Age']]

age_group = age_group.drop_duplicates()

age_counts = age_group["Age"].value_counts()
age_pct = age_group['Age'].value_counts(normalize=True).mul(100).round(1).astype(str) + "%"

# Create DataFrame
age_demos_df=pd.DataFrame({'Count of Ages': age_counts, "Age of Players": age_pct})
age_demos_df

    Count of Ages Age of Players
20             69          12.0%
23             49           8.5%
22             49           8.5%
24             48           8.3%
21             43           7.5%
25             43           7.5%
15             26           4.5%
30             25           4.3%
16             24           4.2%
18             21           3.6%
17             19           3.3%
19             17           3.0%
26             11           1.9%
35             10           1.7%
29             10           1.7%
27              9           1.6%
33              9           1.6%
10              7           1.2%
7               7           1.2%
34              7           1.2%
11              6           1.0%
32              6           1.0%
39              6           1.0%
8               6           1.0%
31              5           0.9%
36              5           0.9%
37              5           0.9%
38              5           0.9%
40              5           0.9%
28              4           0.7%
9               4           0.7%
12              4           0.7%
13              3           0.5%
44              2           0.3%
41              2           0.3%
14              2           0.3%
43              1           0.2%
42              1           0.2%
45              1           0.2%

In [72]:
bins = [0, 9, 14, 19, 24,29,34,39,100]
group_names = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
pd.cut(pymoli_df["Age"], bins, labels=group_names)
pymoli_df["Age Group"] = pd.cut(pymoli_df["Age"], bins, labels=group_names)

pymoli_groupby_sn_agegrp = pymoli_df.groupby(["SN","Age Group"])

                                                              
pymoli_unique_payers_df = pd.DataFrame(pymoli_groupby_sn_agegrp.size())
#print(pymoli_unique_payers_df)
pymoli_agegrp_df = pd.DataFrame(pymoli_unique_payers_df.groupby(["Age Group"]).count())
pymoli_agegrp_df.columns= ["Total Count"]
pymoli_agegrp_df["Percentage of Players"] =round(100 *pymoli_agegrp_df["Total Count"]/pymoli_agegrp_df["Total Count"].sum(),2)

pymoli_agegrp_df

NameError: name 'pymoli_df' is not defined

In [70]:
#Age Demographics

bins= [0,10,15,20,25,30,35,40,999]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

unique_heroes=player_demographics.loc[:,["SN","Age"]]
unique_heroes["Age Ranges"] = pd.cut(unique_heroes["Age"], bins, labels=group_names)
unique_heroes

age_demographics_totals = unique_heroes["Age Ranges"].value_counts()
age_demographics_percents = (age_demographics_totals / player_count * 100).round(2)
age_demographics = pd.DataFrame({"Percentage of Total": age_demographics_percents, "Age Group Total": age_demographics_totals})

age_demographics.sort_index()

NameError: name 'player_demographics' is not defined

In [71]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age_grouped["SN"].nunique()

total_players = age_grouped["SN"].value_counts()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'signed char'